<div class="main-container">
    <!-- <app-loader *ngIf="loader"></app-loader> -->
    <div class="tools-container">
        <a mat-icon-button matTooltip="Back" (click)="back()">
            <i class="material-icons">arrow_back</i>
        </a>
        <h2>Add Sub Scheme</h2>
    </div>
    
    <div class="container pt10 pl10 pr10 pb50">
        <form #f="ngForm" (ngSubmit)=" f.valid && submitDetail()">
            <div class="row">
                <div class="col s12">
                    <div class="card pb0">
                        <div class="card-body cs-form">
                            <div class="row">
                                <div class="col s12 m3 l3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Title</mat-label>
                                        <input matInput placeholder="Type Here ..." name="title" #title="ngModel" [(ngModel)]="data.title"
                                        required>
                                    </mat-form-field>
                                    <div class="alert alert-danger" *ngIf="title.touched || f.submitted">
                                        <p *ngIf="title.errors?.required">This field is required</p>
                                    </div>
                                </div>

                                <div class="col s12 m3 l3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Date From</mat-label>
                                        <input matInput [matDatepicker]="picker1" name="dateFrom" #dateFrom="ngModel" [min]="today_date"
                                        [max]="data.date_to" [(ngModel)]="data.date_from"  readonly required>
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                    <div class="alert alert-danger" *ngIf="dateFrom.touched || f.submitted">
                                        <p *ngIf="dateFrom.errors?.required">This field is required</p>
                                    </div>
                                </div>
                                
                                <div class="col s12 m3 l3" *ngIf="!scheme_id">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Date To</mat-label>
                                        <input matInput [matDatepicker]="picker2" name="date_to" #date_to="ngModel" [min]="data.date_from" [max]="schemeDetails.end_date"
                                        [(ngModel)]="data.date_to" readonly required [disabled]="!data.date_from">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                    <div class="alert alert-danger">
                                        <ng-container *ngIf="date_to.touched || f.submitted">
                                            <p *ngIf="date_to.errors?.required">This field is required</p>
                                        </ng-container>
                                    </div>
                                </div>


                                <div class="col s12 m3 l3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Date To</mat-label>

                                        <input matInput [matDatepicker]="picker2" name="dateTo" #dateTo="ngModel" [min]="data.date_from" [max]="schemeDetails.end_date"
                                        [(ngModel)]="data.date_to" [disabled]="!data.date_from" readonly required >

                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                    <div class="alert alert-danger">
                                        <ng-container *ngIf="dateTo.touched || f.submitted">
                                            <p *ngIf="dateTo.errors?.required">This field is required</p>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card-head mt16">
                                <h2>Terms & Conditions</h2>
                            </div>

                            <div class="row">
                                <div class="col s12 m10 l6">
                                    <app-ngx-editor height="100px " minHeight="100px !important" [config]="editorConfig"  [placeholder]="'Type Here ...'" [spellcheck]="true" name="terms" [(ngModel)]="data.terms"></app-ngx-editor>
                                </div>
                                <div class="col s12 m10 l6">
                                    <div class="col s12">
                                        <mat-form-field appearance="outline" [ngClass]="{'has-error' : description.invalid } ">
                                            <mat-label>Scheme Description</mat-label>
                                            <textarea matInput placeholder="Type Here ..." name="description" #description="ngModel"
                                            class="h250" [(ngModel)]="data.description"></textarea>
                                            <div class="alert alert-danger" *ngIf="!description.valid && description.touched">
                                                Scheme Description is required...
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s12">
                                    <div class="uploade-image">
                                        <ul>
                                            <li *ngFor="let row of selected_image; let i=index">
                                                <img src="{{row.id ? upload_url+row.banner : row.image}}">
                                                <span class="cancel-icon">
                                                    <i class="material-icons crose-icon"
                                                    (click)="deleteProductImage(i,row.img_id, row.image)">clear</i>
                                                </span>
                                            </li>
                                            <li class="add-bg-1">
                                                <label>
                                                    <input type="file" (change)="onUploadChange($event)" style="display:none;"
                                                    accept=".png, .jpg, .jpeg," multiple required />
                                                    <div class="other">
                                                        <i class="material-icons">cloud_upload</i>
                                                        <p>Upload Banner</p>
                                                    </div>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <ng-container *ngIf="data.scheme_type == 'Sales'">
                                <div class="card-head mt15">
                                    <h2>Product Detail</h2>
                                </div>
                                <div class="row" style="display: flex; align-items: flex-end;">
                                    <div class="col s12 m4 l4">
                                        <div class="selct-all text-left" *ngIf="categoryList.length > 0">
                                            <mat-checkbox [(ngModel)]="data.allCategory" name="allCategory" color="primary"
                                            (click)="allSelect('allCategory');">Select All Category</mat-checkbox>
                                        </div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Category</mat-label>
                                            <mat-select name="categoryData" [(ngModel)]="data.categoryData" #categoryData="ngModel" multiple [ngClass]="{'has-error' : categoryData.invalid }" (selectionChange)="getSubCategoryList('', '1'); getCategoryName(data.categoryData); updateSelectAll('allCategory'); " required>
                                                <mat-option>
                                                    <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.." (keyup)="getCategoryList($event.target.value)"></ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let row of categoryList"  value="{{row.id}}">{{row.category | titlecase}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col s12 m4 l4">
                                        <div class="selct-all text-left" *ngIf="subCategoryList.length > 0">
                                            <mat-checkbox [(ngModel)]="data.allSubCategory" name="allSubCategory" color="primary"
                                            (click)="allSelect('allSubCategory');">Select All Sub Category</mat-checkbox>
                                        </div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Sub Category</mat-label>
                                            <mat-select name="subCategoryData" [(ngModel)]="data.subCategoryData" #subCategoryData="ngModel" multiple [ngClass]="{'has-error' : subCategoryData.invalid }"  (selectionChange)="getProductList('','SubCategory'); getSubCategoryName(data.subCategoryData); updateSelectAll('allSubCategory'); " [disabled]="!data.categoryData" required>
                                                <mat-option>
                                                    <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.." (keyup)="getSubCategoryList($event.target.value, '')"></ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let row of subCategoryList" value="{{row.id}}">{{row.sub_category_name | titlecase}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col s12 m4 l4">
                                        <div class="selct-all text-left" *ngIf="productList.length > 0">
                                            <mat-checkbox [(ngModel)]="data.allProduct" name="allProduct" color="primary"
                                            (click)="allSelect('allProduct');">Select All Product</mat-checkbox>
                                        </div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Product</mat-label>
                                            <mat-select name="product" [(ngModel)]="data.product" #product="ngModel" multiple [ngClass]="{'has-error' : product.invalid }" (selectionChange)="updateSelectAll('allProduct');" [disabled]="!data.categoryData" required>
                                                <mat-option>
                                                    <ngx-mat-select-search noEntriesFoundLabel="'no data found'" placeholderLabel="Search.." (keyup)="getProductList($event.target.value, '')"></ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let row of productList" value="{{row.id}}">{{row.product_name | titlecase}} | {{row.product_code}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-container>

                            <!-- *ngIf="point_type != 'Product Qty'" -->
                            <div class="bg-box" >

                                <div class="card-head">
                                    <h2>Target Detail</h2>
                                </div>
                                
                                <div class="row">
                                    <div class="col s12 m3 l3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Slab Start</mat-label>
                                            <input type="number" matInput placeholder="Type Here ..." name="slab_start" #slab_start="ngModel"
                                            [(ngModel)]="slabItem.slab_start" [min]="1" (keypress)="MobileNumber($event)" (input)="checkValidity();">
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col s12 m3 l3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Slab End</mat-label>
                                            <input type="number" matInput placeholder="Type Here ..." name="slab_end" #slab_end="ngModel"
                                            [(ngModel)]="slabItem.slab_end" (keypress)="MobileNumber($event);"  (input)="checkSlab(slabItem.slab_start,slabItem.slab_end);checkOverlap(slabItem.slab_start,slabItem.slab_end);">
                                        </mat-form-field>
                                        <div class="alert alert-danger" *ngIf="showErrorLine == true">
                                            <p>Slab end is always greater than slab start.</p>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="overlapError">
                                            <p>Already exist with same slab type and range.</p>
                                        </div>
                                    </div>
                                    <!-- && point_type == 'Fixed' -->
                                    <div class="col s12 m3 l3" *ngIf="gift_type == 'Point'">

                                        <mat-form-field appearance="outline">
                                            <mat-label>Points (%)</mat-label>
                                            <input matInput placeholder="Type Here ..." name="per_point_value" #per_point_value="ngModel"
                                            [(ngModel)]="slabItem.per_point_value" (keypress)="MobileNumber($event)">
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col s12 m3 l3" *ngIf="gift_type == 'Gift'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Gift Detail</mat-label>
                                            <input matInput placeholder="Type Here ..." name="gift_detail" #gift_detail="ngModel"
                                            [(ngModel)]="slabItem.gift_detail">
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col s12 m3 l3">
                                        <div class="text-left mt5">
                                            <a mat-raised-button color="accent" [ngClass]="{'loading': savingListFlag == true}" [disabled]="savingListFlag == true" (click)="addToList();">Add To List</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- point_type != 'Product Qty' &&  -->
                            <div class="row" *ngIf="slabData.length > 0">

                                <div class="col s12">
                                    <div class="cs-table left-right-10">
                                        <div class="table-head border-bottom">
                                            <table class="sno-border">
                                                <tr>
                                                    <th class="w60 text-center">Sr.No</th>
                                                    <!-- <th class="w130">Slab Type</th> -->
                                                    <th class="w110">Slab Start</th>
                                                    <th class="w110">Slab End</th>
                                                    <!-- <th class="w110">Gift Type</th> -->
                                                    <th class="w110 text-right" *ngIf="gift_type == 'Point'">Point (%)</th>
                                                    <th *ngIf="gift_type == 'Gift'">Gift Detail</th>
                                                    <th class="w60 text-center">Action</th>
                                                </tr>
                                            </table>
                                        </div>
                                        
                                        <div class="table-container">
                                            <div class="table-content">
                                                <table class="sno-border">
                                                    <tr *ngFor="let row of slabData;let i=index">
                                                        <td class="w60 text-center">{{i+1}}</td>
                                                        <!-- <td class="w130">{{row.slab_type}}</td> -->
                                                        <td class="w110">{{row.slab_start}}</td>
                                                        <td class="w110">{{row.slab_end}}</td>
                                                        <!-- <td class="w110">{{row.gift_type}}</td> -->
                                                        <td class="w110 text-right"  *ngIf="gift_type == 'Point'">{{row.per_point_value ? row.per_point_value : '--'}}%</td>
                                                        <td *ngIf="gift_type == 'Gift'">{{row.gift_detail ? row.gift_detail : '--'}}</td>
                                                        <td class="w60 text-center">
                                                            <div class="action-button">                                     
                                                                <button  mat-icon-button  matTooltip="Delete" (click)="listdelete(i)">
                                                                    <i class="material-icons del">delete</i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12">
                    <div class="text-right">
                        <button [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="accent" type="submit"
                        [disabled]="savingFlag == true || !f.valid || (slabData.length == 0)">
                        {{(!gift_id)?(savingFlag == true ? 'Saving' : 'Save'):(gift_id)?(savingFlag == true ? 'Saving' :
                        'Save'):'Save'}}
                    </button>
                </div>
            </div>
        </div>
        
    </form>
</div>
</div>