<div class="main-container">
	<!-- <app-loader *ngIf="loader"></app-loader> -->
	<div class="tools-container">
		<a mat-icon-button matTooltip="Back" (click)="goBack()">
			<i class="material-icons">arrow_back</i>
		</a>
		<h2>Add New Video</h2>
	</div>

	<div class="container pt10 pl10 pr10 pb50">
		<form #f="ngForm" (ngSubmit)=" f.valid && submitDetail()">
			<div class="row">
				<div class="col s12">
					<div class="card pb0">
						<!-- <div class="card-head">
							<h2>Basic Information</h2>
						</div> -->
						<div class="card-body cs-form">
							<div class="row">
								<div class="col s4 m4 l4">
									<div class="row">
										<div class="col s12 m12 l12">
											<mat-form-field appearance="outline">
												<mat-label>Platform Type</mat-label>
												<mat-select name="platform" [(ngModel)]="data.platform"
													#platform="ngModel" required>
													<ng-container>
														<mat-option value="App">Mobile Application</mat-option>
														<mat-option value="Web">Web Application</mat-option>
													</ng-container>
												</mat-select>
											</mat-form-field>

											<div class="alert alert-danger" *ngIf="platform.touched || f.submitted">
												<p *ngIf="platform.errors?.required">This field is required</p>
											</div>
										</div>
									</div>
									<div class="row" *ngIf="data.platform == 'App'">
										<div class="col s12 m12 l12">
											<mat-form-field appearance="outline">
												<mat-label>User Type</mat-label>
												<mat-select multiple name="user_type" [(ngModel)]="data.user_type"
													#user_type="ngModel" required>
													<ng-container>
														<mat-option value="Sales User">Sales User</mat-option>
														<mat-option value="Influencer">Influencer</mat-option>
													</ng-container>
												</mat-select>
											</mat-form-field>

											<div class="alert alert-danger" *ngIf="user_type.touched || f.submitted">
												<p *ngIf="user_type.errors?.required">This field is required</p>
											</div>
										</div>
									</div>
									<div class="row" *ngIf="data.platform == 'Web'">
										<div class="col s12 m12 l12">
											<mat-form-field appearance="outline">
												<mat-label>User Type</mat-label>
												<mat-select multiple name="user_type" [(ngModel)]="data.user_type"
													#user_type="ngModel" required>
													<ng-container>
														<mat-option value="sfa">SFA</mat-option>
														<mat-option value="loyalty">Loyalty</mat-option>
													</ng-container>
												</mat-select>
											</mat-form-field>

											<div class="alert alert-danger" *ngIf="user_type.touched || f.submitted">
												<p *ngIf="user_type.errors?.required">This field is required</p>
											</div>
										</div>
									</div>



									<div class="row">
										<div class="col s12">
											<div class="uploade-image">
												<ul>
													<!-- <li *ngFor="let row of selected_video; let i=index">
													<img src="{{row.img_id ? url+row.image : row.image}}"> 
													<span class="cancel-icon">
													  <i class="material-icons crose-icon" (click)="delete_img(i,row.img_id, row.image)">clear</i>
													</span>
												  </li> -->

													<li class="videoPreview" *ngIf="selected_video != null">
														<video width="255" height="120" controls
															controlslist="nodownload" poster="assets/img/logo.png"
															[src]="selected_video">
															Your browser does not support HTML video.
														</video>
													</li>
													<li class="add-bg-1" [ngClass]="{'error': errorMsg == true}">
														<label class="fix-label">
															<input type="file" (change)="onUploadChange($event)"
																style="display:none;" accept="mp4" multiple required />
															<div class="other">
																<i class="material-icons">cloud_upload</i>
																<p>{{(selected_video == null)?'Upload
																	Video':'Re-Upload'}}</p>
															</div>
														</label>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="col s6 m6 l6">
									<div class="row">
										<div class="col s12">
											<mat-form-field class="cs-input" appearance="outline">
												<mat-label>Add Remark</mat-label>
												<textarea style="height: 210px;" matInput placeholder="Type here ..."
													name="msg" #msg="ngModel" [(ngModel)]="data.remark"
													[ngClass]="{'has-error' : msg.invalid }" required></textarea>
											</mat-form-field>
											<div class="alert alert-danger" *ngIf="!msg.valid && f.submitted">
												Remark is required...
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12">
					<div class="text-right">
						<button [ngClass]="{'loading': savingFlag == true}" mat-raised-button color="accent"
							type="submit" [disabled]="savingFlag == true">
							{{savingFlag == true ? 'Saving' : 'Save'}}
						</button>
					</div>
				</div>
			</div>

		</form>
	</div>
</div>