<div class="main-container">

  <div class="tools-container">
    <h2>Type Management</h2>
    <div class="left-auto df ac flex-gap-10">
      <button mat-icon-button matTooltip="Refresh" (click)="refresh()">
        <i class="material-icons">refresh</i>
      </button>
    </div>
  </div>

  <div class="container table-container">
    <div class="cs-table">
      <div class="sticky-head">
        <div class="table-head">
          <table>
            <tr>
              <th class="w50">S.No</th>
              <th class="w200">Module Name</th>
              <th>Dropdown</th>
              <th class="w100 text-center">Options</th>
            </tr>
          </table>
        </div>
      </div>

      <div class="table-container">
        <div class="table-content">
          <table>
            <ng-container *ngIf="!loader">
              <tr *ngFor="let dist of typeList; let i = index;">
                <td class="w50">{{i + 1 + sr_no}}</td>
                <td class="w200">{{dist.module_name}}</td>
                <td>{{dist.name}}</td>
                <td class="w100 text-center">
                  <div class="action-button" >
                    <button mat-icon-button matTooltip="View" (click)="openDialog2(dist)">
                      <i class="material-icons edit">remove_red_eye</i>
                    </button>
                    <!-- <button mat-icon-button matTooltip="View" (click)="openDesignationModal2(dist)">
                      <i class="material-icons edit">edit</i>
                    </button> -->
                  </div>
                </td>
              </tr>
            </ng-container>

            <ng-container *ngIf="loader">
              <tr class="sk-loading" *ngFor="let row of [].constructor(10);">
                <td class="w50">
                  <div>&nbsp;</div>
                </td>
                <td class="w100">
                  <div>&nbsp;</div>
                </td>
                <td>
                  <div>&nbsp;</div>
                </td>
                <td class="w100 text-center" *ngIf="userType=='System User'">
                  <div>&nbsp;</div>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>

      <ng-container *ngIf="typeList.length == 0 && !loader">
        <app-not-result-found></app-not-result-found>
      </ng-container>

    </div>

  </div>
</div>