.questionHead {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 32px;
}

.card-head {
  h2 {
      font-size: 22px !important;
      display: block;
      width: 100%;
      text-align: center;
  }
}

.card {
  background: var(--light) !important;
}